/*......................login  css........................*/
.login-block {
  background: #f5f5f5;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-image: url('../../img/login/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login-block .container-fluid {
  background: #fff;
  border-radius: 10px;
  position: relative;

  overflow: hidden;
}

.login-left-section {
  padding: 20px 20px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left-section .logo-content {
  text-align: center;
}

.login-left-section .logo-content .login-logo {
  width: 80px;
  height: 80px;
}

.login-left-section .logo-content p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 9px;
}

.login-left-section .login-heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  color: #4E73DF;
  text-align: center;
}

.login-left-section .login-heading:after {
  content: " ";
  width: 100px;
  height: 2px;
  background: var(--commonColor);
  display: block;
  margin-top: 8px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.forum-group-login .input-group {
  margin-bottom: 15px;
}

.forum-group-login .input-group input {
  height: 40px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  box-shadow: 0px 0px 22px -17px rgba(56, 99, 217, 0);
  outline: none;
  color: var(--listMenuColor);
  font-size: 12px;
  transition: all 0.3s ease;
  border-left: 0px;
}

.forum-group-login .input-group input:hover,
.forum-group-login .input-group input:focus,
.forum-group-login .input-group input:active {
  box-shadow: 0px 0px 22px -15px rgba(56, 99, 217, 1);
  border-left: 0px;
}

.forum-group-login .input-group .input-group-addon {
  background: #ffffff;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-right: 0px;
  padding: 0;
  padding-left: 10px;
}

.forgetpassword {
  margin-bottom: 15px;
  font-size: 12px;
  margin-top: -2px;
}

.forgetpassword a,
.forum-group-login .donotaccount a {
  color: var(--commonColor);
  transition: all 0.3s ease;
}

.forgetpassword a:hover,
.forum-group-login .donotaccount a:hover {
  opacity: 0.8;
}

.forum-group-login .submition-block-btn {
  transition: all 0.3s ease !important;
  margin-bottom: 15px;
  border-radius: 100px;
  background: linear-gradient(68deg, rgba(123, 79, 221, 1) 46%, rgba(78, 115, 223, 1) 89%);
  border: 1px solid var(--commonColor);
  font-size: 14px;
  height: 40px;
  text-transform: capitalize;
  font-weight: 600;
  outline: none !important;
  box-shadow: none !important;
  position: relative;
  overflow: hidden;
}

.forum-group-login .submition-block-btn span {
  position: relative;
  z-index: 1;
  text-align: center;
}

.forum-group-login .submition-block-btn:after {
  content: '';
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(68deg, rgba(78, 115, 223, 1) 46%, rgba(123, 79, 221, 1) 89%);
  opacity: 0;
  transition: all 3s ease-in-out;
}

.forum-group-login .submition-block-btn:hover:after {
  opacity: 1;
}

/* .forum-group-login .submition-block-btn:hover,.forum-group-login .submition-block-btn:focus,.forum-group-login .submition-block-btn:active{

  color: var(--whiteColor);
} */
.forum-group-login .donotaccount {
  margin-top: 10px;
  font-size: 13px;
  color: #565656;
}


.banner-carousel {
  background: rgb(237, 237, 237);
  background: linear-gradient(68deg, rgba(237, 237, 237, 1) 0%, rgba(78, 115, 223, 1) 57%);
  height: 100%;
  border-radius: 0px;
  position: relative;
  padding: 20px;

}

.banner-carousel .carousel {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20;
  border-radius: 10px;
  overflow: hidden;
  cursor: grab;

}

.banner-carousel .carousel .carousel-inner {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-carousel .carousel-inner .content-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.banner-carousel .carousel-inner .content-section h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

.banner-carousel .carousel-inner .content-section p {
  opacity: 0.5;
  font-size: 13px;
}

.banner-carousel .carousel-inner .content-section img {
  width: 300px;
  height: 250px;
}

.banner-carousel .carousel .carousel-indicators {
  bottom: 0px;
}

.banner-carousel .carousel-indicators li {
  border: 1px solid var(--commonColor);
  width: 7px;
  height: 7px;
}

.banner-carousel .carousel-indicators .active {
  background: var(--commonColor);
  width: 8px;
  height: 8px;
}


@media screen and (max-width: 992px) {

  .login-block {
      padding: 16px;
  }

  .banner-carousel .carousel-inner .content-section img {
      width: 200px;
      height: 180px;
  }

  .banner-carousel .carousel-inner .content-section h3 {
      font-size: 27px;
  }

  .banner-carousel .carousel-inner .content-section p {
      font-size: 12px;
  }

  .banner-carousel .carousel-inner .content-section {
      gap: 12px;
  }
}

@media screen and (max-width:768px) {
  .mobileResponsive {
      display: none;
  }

  .login-block {
      padding: 50px;
  }
}

@media screen and (max-width:492px) {
  .login-block {
      padding: 16px;
  }
}
/*......................dashboard info card css........................*/
.info-card {
  margin-bottom: 20px;
}

.info-card .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--whiteColor);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  height: 100px;
  border-radius: 10px;
  padding: 60px 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.info-card .col-lg-3.col-md-4.col-xs-6 {
  margin-bottom: 20px;
}

.info-card .text-card p {
  padding: 0px;
  margin: 0px;
  line-height: 25px;
}

.info-card .text-card p:nth-child(1) {
  font-size: 10px;
  line-height: 13px;
  font-weight: 600;
  color: var(--listMenuColor);
  margin-bottom: 5px;
}

.info-card .text-card p:nth-child(2) {
  font-size: 20px;
  text-decoration: none;
  color: var(--listMenuColor);
  font-weight: 600;
}

.info-card .text-card p:nth-child(3) span:nth-child(1) {
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 5px;
}

.info-card .text-card p:nth-child(3) span:nth-child(2) a {
  font-size: 10px;
  margin-left: 8px;
  text-decoration: none;
  color: var(--infoCardDetails);
  transition: all 0.3s ease;
}

.info-card .text-card p:nth-child(3) span:nth-child(2) a:hover {
  color: var(--blackColor);
  font-weight: 600;
}

.info-card .icon-card p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--listMenuColor);
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.info-card .icon-card p i {
  font-size: 20px;
  color: var(--whiteColor);
}

.info-card .card:hover {
  transform: scale(1.02);
}

.info-card .card:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: -1;
  transform: rotate(30deg);
  left: -300;
  transition: all 0.3s ease;
}

.info-card .card:hover:after {
  left: -100px;
}

/* infocard 1 */
.info-card .card-1 {
  border-bottom: 5px solid var(--infoCard_1);
}

.info-card .card-1 .icon-card p {
  background: var(--infoCard_1);
}

.info-card .card-1:after {
  background: var(--infoCard_1_afterBackground);
}

.info-card .card-1 .text-card p:nth-child(3) span:nth-child(1) {
  font-size: 10px;
  background: var(--infoCard_1_up_Background);
  color: var(--infoCard_1_up_Color);
}

/* infocard 2 */
.info-card .card-2 {
  border-bottom: 5px solid var(--infoCard_2);
}

.info-card .card-2 .icon-card p {
  background: var(--infoCard_2);
}

.info-card .card-2:after {
  background: var(--infoCard_2_afterBackground);
}

.info-card .card-2 .text-card p:nth-child(3) span:nth-child(1) {
  font-size: 10px;
  background: var(--infoCard_2_up_Background);
  color: var(--infoCard_2_up_Color);
}

/* infocard 3 */
.info-card .card-3 {
  border-bottom: 5px solid var(--infoCard_3);
}

.info-card .card-3 .icon-card p {
  background: var(--infoCard_3);
}

.info-card .card-3:after {
  background: var(--infoCard_3_afterBackground);
}

.info-card .card-3 .text-card p:nth-child(3) span:nth-child(1) {
  font-size: 10px;
  background: var(--infoCard_3_up_Background);
  color: var(--infoCard_3_up_Color);
}

/* infocard 4 */
.info-card .card-4 {
  border-bottom: 5px solid var(--infoCard_4);
}

.info-card .card-4 .icon-card p {
  background: var(--infoCard_4);
}

.info-card .card-4:after {
  background: var(--infoCard_4_afterBackground);
}

.info-card .card-4 .text-card p:nth-child(3) span:nth-child(1) {
  font-size: 10px;
  background: var(--infoCard_4_up_Background);
  color: var(--infoCard_4_up_Color);
}

/*......................meta data css........................*/
.jumbotron.meta-data-nmc {
  padding-left: 0px;
  margin-top: 45px;
  position: relative;
}



.meta-data-nmc::before {
  content: "";
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  background: var(--commonColor);
  opacity: 1;
  height: 100px;
  border-radius: 10px;
}
.jumbotron.meta-data-nmc-second{
  margin-top: -19px;
}
.meta-data-nmc-second::before {
  top: -10px;
  opacity: 1;
  height: 10px;
  border-radius: 10px;
}

/* first form */
.meta-data-nmc-form {
  background: rgba(255, 255, 255, 1);
  width: 100%;

  padding-bottom: 8px !important;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  /* -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px; */
  border-radius: 10px;
  box-shadow: var(--commonBoxShadow);
  z-index: 22;
}

.meta-data-nmc-form .form-group {
  margin-bottom: 25px;
}

.meta-data-nmc-form .form-group > label {
  display: block;
  font-size: 13px;
  color: var(--opacityColor);
  font-weight: 600;
  text-transform: capitalize;
}

.meta-data-nmc-form .custom-control-label {
  color: #000;
  font-size: 14px;
}

.meta-data-nmc-form .form-group .form-control {
  height: 40px;
  background: var(--navBackground);
  border-color: transparent;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 14px;
  color: var(--opacityColor);
  outline: none;
  box-shadow: 0px 0px 22px -15px rgba(56, 99, 217, 0);
}
.meta-data-nmc-form .form-group .form-control.textareaControl{
  height: auto !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
.meta-data-nmc-form .form-group .form-control::placeholder {
  color: var(--opacityColor);
}

.meta-data-nmc-form .form-group .form-control:focus,
.meta-data-nmc-form .form-group .form-control:active {
  border-color: #4e72df83;
  box-shadow: var(--inputBoxShadow);
}

.meta-data-nmc-formc textarea.form-control {
  height: 160px;
  padding-top: 15px;
  resize: none;
}

/* custom select */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.custom-select .select-selected {
  height: 40px;
  background: var(--navBackground);
  border-color: transparent;
  font-size: 14px;
  color: var(--opacityColor);
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 22px -15px rgba(56, 99, 217, 0);
}

.custom-select .select-selected:focus,
.custom-select .select-selected:hover,
.custom-select .select-selected.active {
  border-color: #4e72df83;
  box-shadow: var(--inputBoxShadow);
}

.custom-select .select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--commonColor) transparent transparent transparent;
  transition: all 0.3s ease;
}

.custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--commonColor) transparent;
  top: 10px;
  transition: all 0.3s ease;
}

.custom-select .select-items div,
.custom-select .select-selected {
  color: var(--opacityColor);
  padding: 10px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(100, 100, 100, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.custom-select .select-items {
  position: absolute;
  background-color: var(--navBackground);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.custom-select .select-hide {
  display: none;
}

.custom-select .select-items div:hover,
.custom-select .same-as-selected {
  background-color: rgba(100, 100, 100, 0.1);
}

.custom-select .select-selected.select-arrow-active {
  border-color: #4e72df83;
  box-shadow: var(--inputBoxShadow);
}
.custom-select .select-items {

  height: 208px;
  overflow-y: auto;
}
.custom-select .select-items::-webkit-scrollbar {
  width: 4px;
}
.custom-select .select-items::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background: #cbcbcb; 
}

/*matching radio and calculate custom css */
.subbtnandmatching {
  display: flex;
  flex: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* calculate css */
.meta-data-nmc-form .my-btn-claculate {
  color: #fff;
  background-color: var(--commonColor);
  border-color: var(--commonColor);
  outline: none !important;
  box-shadow: none;
  font-weight: 500;
  font-size: 14px;
  width: 300px;
}

.meta-data-nmc-form .my-btn-claculate:hover,
.meta-data-nmc-form .my-btn-claculate:focus {
  color: var(--commonColor);
  background-color: #ffffff;
  border-color: var(--commonColor);
}

/*matching radio custom css */
.matchingnotmatching {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.matchingnotmatching .custom-control.custom-radio label {
  font-size: 13px;
  font-weight: 500;
  color: var(--opacityColor);
}

.matchingnotmatching .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none !important;
  box-shadow: none;
  position: relative;
  top: 6.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 23px;
  width: 23px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.matchingnotmatching .option-input:hover {
  background: #9faab7;
}

.matchingnotmatching .option-input:checked {
  background: var(--commonColor);
}

.matchingnotmatching .option-input:checked::before {
  height: 23px;
  width: 23px;
  position: absolute;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
}

.matchingnotmatching .option-input:checked::after {
  -webkit-animation: click-wave 0.25s;
  -moz-animation: click-wave 0.25s;
  animation: click-wave 0.25s;
  background: #e91e63;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.matchingnotmatching .option-input.radio {
  border-radius: 50%;
}

.matchingnotmatching .option-input.radio::after {
  border-radius: 50%;
}

/* meta data-nmc customar  modal message  */

.metaData-nmc-modal-message {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 70;
  right: -350px;
  background: rgb(255,255,255);
  background: linear-gradient(68deg, rgba(255,255,255,1) 24%, rgba(243,246,240,1) 38%, rgba(254,255,253,1) 61%, rgba(244,249,239,1) 61%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  z-index: 60;
  padding-bottom: 70px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-shadow: var(--commonBoxShadow);
}
.metaData-nmc-modal-message::-webkit-scrollbar {
  display: none;
}



.metaData-nmc-modal-message .closebtn {
  position: relative;
  font-size: 25px;
  margin-left: 0;
  padding: 2px 2px;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 30px;
}
.metaData-nmc-modal-message .closebtn i{
   transition: all 0.3s ease;
}
.metaData-nmc-modal-message .closebtn:hover i{
  color: rgb(239, 131, 131);
} 


.metaData-nmc-modal-message .card {
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}

.metaData-nmc-modal-message .card h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
}
.metaData-nmc-modal-message .card h2 i{
  font-size: 17px;
}
.metaData-nmc-modal-message .card p strong{
  font-size: 12px;
  color: #474747;
}
.metaData-nmc-modal-message .card p {
  color: #878787;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
}

.metaData-nmc-modal-message .status-active {
  color: green;
  font-weight: bold;
}



.mainformmenu{
  display: none;
}




@media screen and (max-width: 1092px) {


  .info-card .card {
    padding: 60px 14px;
  }

  .info-card .text-card p {
    display: flex;
    line-height: 30px;
  }
}
@media screen and (max-width:768px) {
  .metaData-nmc-modal-message{
    top: 50px;
  }
 }
@media screen and (max-width: 412px) {
  .info-card .col-lg-3.col-md-4.col-xs-6 {
    width: 100%;
  }
  .jumbotron.meta-data-nmc {
   margin-top: 25px;
  }
  .meta-data-nmc-form{
    padding: 25px 15px;
  }

  .meta-data-nmc-form .my-btn-claculate{
    width: 235px;
  }
}
