.login-block {
    background: #f5f5f5;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-image: url('../../img/login/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-block .container-fluid {
    background: #fff;
    border-radius: 10px;
    position: relative;

    overflow: hidden;
}

.login-left-section {
    padding: 20px 20px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-left-section .logo-content {
    text-align: center;
}

.login-left-section .logo-content .login-logo {
    width: 80px;
    height: 80px;
}

.login-left-section .logo-content p {
    font-size: 13px;
    font-weight: 500;
    margin-top: 9px;
}

.login-left-section .login-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #4E73DF;
    text-align: center;
}

.login-left-section .login-heading:after {
    content: " ";
    width: 100px;
    height: 2px;
    background: var(--commonColor);
    display: block;
    margin-top: 8px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.forum-group-login .input-group {
    margin-bottom: 15px;
}

.forum-group-login .input-group input {
    height: 40px;
    border: 1px solid rgba(100, 100, 100, 0.2);
    box-shadow: 0px 0px 22px -17px rgba(56, 99, 217, 0);
    outline: none;
    color: var(--listMenuColor);
    font-size: 12px;
    transition: all 0.3s ease;
    border-left: 0px;
}

.forum-group-login .input-group input:hover,
.forum-group-login .input-group input:focus,
.forum-group-login .input-group input:active {
    box-shadow: 0px 0px 22px -15px rgba(56, 99, 217, 1);
    border-left: 0px;
}

.forum-group-login .input-group .input-group-addon {
    background: #ffffff;
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-right: 0px;
    padding: 0;
    padding-left: 10px;
}

.forgetpassword {
    margin-bottom: 15px;
    font-size: 12px;
    margin-top: -2px;
}

.forgetpassword a,
.forum-group-login .donotaccount a {
    color: var(--commonColor);
    transition: all 0.3s ease;
}

.forgetpassword a:hover,
.forum-group-login .donotaccount a:hover {
    opacity: 0.8;
}

.forum-group-login .submition-block-btn {
    transition: all 0.3s ease !important;
    margin-bottom: 15px;
    border-radius: 100px;
    background: linear-gradient(68deg, rgba(123, 79, 221, 1) 46%, rgba(78, 115, 223, 1) 89%);
    border: 1px solid var(--commonColor);
    font-size: 14px;
    height: 40px;
    text-transform: capitalize;
    font-weight: 600;
    outline: none !important;
    box-shadow: none !important;
    position: relative;
    overflow: hidden;
}

.forum-group-login .submition-block-btn span {
    position: relative;
    z-index: 1;
    text-align: center;
}

.forum-group-login .submition-block-btn:after {
    content: '';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(68deg, rgba(78, 115, 223, 1) 46%, rgba(123, 79, 221, 1) 89%);
    opacity: 0;
    transition: all 3s ease-in-out;
}

.forum-group-login .submition-block-btn:hover:after {
    opacity: 1;
}

/* .forum-group-login .submition-block-btn:hover,.forum-group-login .submition-block-btn:focus,.forum-group-login .submition-block-btn:active{
  
    color: var(--whiteColor);
} */
.forum-group-login .donotaccount {
    margin-top: 10px;
    font-size: 13px;
    color: #565656;
}


.banner-carousel {
    background: rgb(237, 237, 237);
    background: linear-gradient(68deg, rgba(237, 237, 237, 1) 0%, rgba(78, 115, 223, 1) 57%);
    height: 100%;
    border-radius: 0px;
    position: relative;
    padding: 20px;

}

.banner-carousel .carousel {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20;
    border-radius: 10px;
    overflow: hidden;
    cursor: grab;

}

.banner-carousel .carousel .carousel-inner {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-carousel .carousel-inner .content-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.banner-carousel .carousel-inner .content-section h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.banner-carousel .carousel-inner .content-section p {
    opacity: 0.5;
    font-size: 13px;
}

.banner-carousel .carousel-inner .content-section img {
    width: 300px;
    height: 250px;
}

.banner-carousel .carousel .carousel-indicators {
    bottom: 0px;
}

.banner-carousel .carousel-indicators li {
    border: 1px solid var(--commonColor);
    width: 7px;
    height: 7px;
}

.banner-carousel .carousel-indicators .active {
    background: var(--commonColor);
    width: 8px;
    height: 8px;
}


@media screen and (max-width: 992px) {

    .login-block {
        padding: 16px;
    }

    .banner-carousel .carousel-inner .content-section img {
        width: 200px;
        height: 180px;
    }

    .banner-carousel .carousel-inner .content-section h3 {
        font-size: 27px;
    }

    .banner-carousel .carousel-inner .content-section p {
        font-size: 12px;
    }

    .banner-carousel .carousel-inner .content-section {
        gap: 12px;
    }
}

@media screen and (max-width:768px) {
    .mobileResponsive {
        display: none;
    }

    .login-block {
        padding: 50px;
    }
}

@media screen and (max-width:492px) {
    .login-block {
        padding: 16px;
    }
}