body,
html {
  margin: 0;
  padding: 0;
  background: var(--whiteColor);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
}
/*...........all color root..........*/
:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --navBackground: #f5f5f5;
  --commonColor: #4e73df;
  --demoColor:#5e79c9;
  --scrollBarColor: #f1f1f1;
  --scrollBarThumb: #d8d8d8;
  --brandColor: #546cb0;
  --iconColor: #b0b7c3;
  --listMenuColor: #382f2f;
  --infoCardDetails: #403737;

  --infoCard_1: #ff579a;
  --infoCard_1_afterBackground: rgba(255, 87, 154, 0.06);
  --infoCard_1_up_Background: rgba(255, 87, 154, 0.09);
  --infoCard_1_up_Color: rgba(255, 87, 154, 0.5);

  --infoCard_2: #5c60f5;
  --infoCard_2_afterBackground: rgba(92, 96, 245, 0.06);
  --infoCard_2_up_Background: rgba(92, 96, 245, 0.09);
  --infoCard_2_up_Color: rgba(92, 96, 245, 0.5);

  --infoCard_3: #00d4ff;
  --infoCard_3_afterBackground: rgba(0, 212, 255, 0.06);
  --infoCard_3_up_Background: rgba(0, 212, 255, 0.09);
  --infoCard_3_up_Color: rgba(0, 212, 255, 0.5);

  --infoCard_4: #ff8c00;
  --infoCard_4_afterBackground: rgba(255, 140, 0, 0.06);
  --infoCard_4_up_Background: rgba(255, 140, 0, 0.09);
  --infoCard_4_up_Color: rgba(0, 212, 255, 0.5);
}

/*...........sidebar menu page content sliding..........*/
.no-margin {
  margin: 0;
}
#wrapper {
  padding-left: 240px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled-2 #sidebar-wrapper {
  width: 70px;
  overflow: visible;
}

/*...........page content..........*/
.xyz {
  min-width: 360px;
}

.page-content-wrapper {
  padding: 15px;
  margin-top: 50px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled .page-content-wrapper {
  position: relative;
  margin-right: 0;
  padding-left: 250px;
}
#wrapper.toggled-2 .page-content-wrapper {
  position: relative;
  margin-right: 0;
  margin-left: -180px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: auto;
}
#wrapper.toggled .page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  #wrapper {
    padding-left: 0px;
  }
  #wrapper.toggled-2 .page-content-wrapper {
    margin-left: 0px;
  }
}

@media screen and (max-width: 412px) {
  .page-content-wrapper {
    padding: 0px;
  }
  .xyz {
    min-width: 0px;
  }
}
